form {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin: auto;
  }

  .search-bar {
      padding: 5px 0 0px;
      margin-bottom: 5px;
  }

  .search-bar::placeholder {
      font-size: 18px;
      text-align: center;
  }

  .search-button {
      background-color: #FF4136;
      height: 30px;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
  }