.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDDDDD;
}

div a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

div img {
    align-self: flex-start;
}