/* Home Page Styling */
.home-title {
  text-align: center;
}

.display-year {
  text-align: center;
}

.display-amount {
  text-align: center;
  margin-bottom: 15px;
}

.search-area {
  width: 100%;
  display: block;
  color: black;
}

.search-area::after {
  content: "";
  background: url("./img/baseballs.jpeg");
  background-size:cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.search-area span {
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
}

  /*List of Teams Styling */
  .team-list {
    overflow-Y: scroll;
    height: 50vh;
    width: 40vh;
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin: 0 auto;
    background-color: #00000080;   
   
  }

  .team-name {
   color: #FFFFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   list-style-type: none;
  }

  /* Roster List Styling */
.roster-background {
  margin: 0 10px;
  background: url("./img/baseball.jpeg");
  background-size:cover;
  position: absolute;
  width: 90%;
  opacity: 0.7;
}

.roster-scroll {
  overflow-Y: scroll;
  height: 65vh;
  
}

.individual-player {
  border: 5px solid black;
  padding: 10px;
  background-color: #2b6777;
  opacity: 0.8;
}
  h1.player-name {
    margin: 0;
    color: #ffffff;
    font-size: 1.8em;
    
  }

  .initial-stats {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
  }

  .local-stat{
    margin-bottom: 0;
    border-right: 3px solid #ffffff;
    padding-right: 10px;
  }
  .local-stat:last-of-type {
    border-right: none;
  }
  